footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    margin: 20px;
}

.footer-left h3 {
    font-size: 1.5em;
    margin: 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #007BFF;
}

.footer-company-name {
    margin: 0;
    color: #aaa;
}

.footer-center i {
    background-color: #333;
    color: #fff;
    font-size: 1.5em;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px;
}

.footer-center p {
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: 0;
}

.footer-center p span {
    display: block;
    font-weight: bold;
}

.footer-icons {
    margin-top: 20px;
}


.footer-icons a {
    color: #fff;
    font-size: 1.5em;
    margin-right: 10px;
    transition: color 0.3s;
}

.footer-icons a:hover {
    color: #007BFF;
}

.footer-about {
    margin: 20px 0;
    color: #aaa;
}
