@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to News Aggregator!</h1>
    <p>Click the link below to view news articles:</p>
    <a asp-controller="News" asp-action="Index">View News Articles</a>
</div>